
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    
    <style>
        .users-table td{
            vertical-align: middle;
        }
        .color-dark {
            color: darkslategrey
        }
        body {
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            height: 100%;
            width: 185px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: black;
            overflow-x: hidden;
            padding-top: 16px;
        }

            .sidebar a {
                padding: 10px 14px 10px 10px;
                text-decoration: none;
                font-size: 18px;
                color: red;
                display: block;
            }

                .sidebar a:hover {
                    color: #f1f1f1;
                }

        .main {
            margin-left: 220px;
            padding: 0px 10px;
        }

        @@media screen and (max-height: 450px) {
            .sidebar {
                padding-top: 15px;
            }

                .sidebar a {
                    font-size: 18px;
                }
        }
    </style>
</head>
<body>

    <div class="sidebar">
        <a href="/User/Index/"><i class="fas fa-user" style="font-size:18px ; width:18px;height:18px"></i> &nbsp; Kullanıcılar </a>
        <a href="/Car/Index"><i class="fas fa-car"></i> &nbsp; Arabalar  </a>
        <a href="/Motorcycle/Index/"><i class="fad fa-motorcycle" style="font-size:18px ; width:18px;height:18px"></i> &nbsp; Motorsikletler </a>
        <a href="/SparePart/Index/"><i class="fad fa-wrench"></i> &nbsp; Yedek Parçalar </a>
        <a href="/Accessory/Index/"><i class="fad fa-tire "></i> &nbsp; Aksesuarlar </a>
        <a href="#"><i class="far fa-chart-bar"></i> &nbsp; İstatistlik </a>
        <a href="#"><i class="fad fa-envelope-open-text"></i></i> &nbsp; İletişim </a>
        <a href="/AdminLogin/LogOut/"><i class="far fa-sign-out-alt"></i></i> &nbsp; Çıkış </a>
    </div>

    <div class="main">
        @RenderBody()
    </div>

</body>
</html>

